/* Basic Style */

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;  
}
li,
h3 {
  list-style: none;
}
input,
button {
  outline: none;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__matrix {
  margin: 0;
}
.header__matrix__pic {
  width: 100%;
  display: block;
}
.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.app__add-item {
  padding: 16px 0;
}
.app__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-row-wrapper {
  display: flex;
}
.app__list {
  margin: 0;
  padding: 0px;
}
.app__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 67px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  padding-left: 0;
  padding-right: 26px;
}
.app__btn:hover {
  color: #3a3a3a;
}
/* Heading */
h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.app__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.app__input_text:focus {
  color: #333;
}

/* New Task */
.app_add-item .app__title {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  width: 318px;
}
.app_add-item > .app__btn:hover {
  color: #0fc57c;
}

/* Task list */
.app__list-item {
  overflow: hidden;
  padding: 18px 0 19px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__list-item > * {
  vertical-align: middle;
}

.app__add-item > .app__input_checkbox {
  margin: 0 10px;
}
.app__add-item > .app__task_name {
  padding-left: 3px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.app__input_text {
  width: 226px;
}
.app__list-item > .app__btn_delete:hover {
  color: #cf2323;
}
.app__btn_delete .app__btn_delete__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  margin-right: 9px;
}
.app__btn_delete .app__btn_delete__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
#complited .app__task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.app__list .app__input_text {
  display: none;
}

.app__edit-mode .app__input_text {
  display: inline-block;
  width: 224px;
}

.app__edit-mode .app__task_name {
  display: none;
}